<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-b">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-b`
     * componente hijo b
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteB extends Polymer.Element {
      static get is() { return 'componente-b'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-b'
          }
        };
      }
    }

    window.customElements.define(ComponenteB.is, ComponenteB);
  </script>
</dom-module>
